@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', cursive;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

img {
    height: 150px;
    max-width: 250px;
}

h2 {
    width:200px;
}
p {
    max-width: 250px;
}