@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', cursive;
}

.gallery > section {
    width: 200px;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    height: 150px;
    max-width: 250px;
}

p {
    max-width: 250px;
}